/* Hide number input spinners */
.vending-wizard input[type="number"]::-webkit-outer-spin-button,
.vending-wizard input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vending-wizard input[type="number"] {
  -moz-appearance: textfield;
}
